<div class="passwords-search">
  <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
    <input
      type="text"
      class="form-control form-control-dark"
      placeholder="Search by name..."
      (keyup.enter)="search()"
      [(ngModel)]="searchName"
      [ngModelOptions]="{ standalone: true }"
    />
  </form>
  <div class="text-end">
    <button type="button" class="btn btn-outline-light me-2" (click)="search()">
      Search
    </button>
    <button type="button" class="btn btn-warning" (click)="clear()">
      Clear
    </button>
  </div>
</div>
