<section class="wrapper">
  <div class="container-card">
    <div class="content">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-12 password-list-header">
            <app-passwords-create-edit
              [editMode]="false"
              (submit)="fetchAllPasswords()"
            ></app-passwords-create-edit>
          </div>
          <div
            class="col-xs-12 col-sm-3"
            *ngFor="let password of passwords; let i = index"
          >
            <app-card
              imgUrl="{{
                password?.imgUrl ? password.imgUrl : '/assets/password.png'
              }}"
              [title]="password?.name"
              [description]="password?.username"
            >
              <app-passwords-create-edit
                [editMode]="true"
                [password]="password"
                (submit)="fetchAllPasswords()"
              ></app-passwords-create-edit>

              <button class="btn btn-danger" (click)="onRemove(password?.id)">
                <i class="fa fa-trash"></i>
              </button>
            </app-card>
          </div>
        </div>
        <div class="pagination-container" *ngIf="collectionSize">
          <ngb-pagination
            [collectionSize]="collectionSize"
            [(page)]="page"
            [pageSize]="pageSize"
            (pageChange)="onPageChange($event)"
          />
          <select
            class="form-select pagination-page-size"
            [(ngModel)]="pageSize"
            (ngModelChange)="onPageChange(page)"
          >
            <option selected value="8">8</option>
            <option value="20">20</option>
            <option value="50">50</option>
            <option value="100">100</option>
          </select>
        </div>
      </div>
    </div>
  </div>
</section>
