<button class="btn btn-primary me-2" (click)="open()">
  <i *ngIf="editMode" class="fa fa-pencil"> </i>
  <span *ngIf="!editMode"> <i class="fa fa-plus"></i> Password </span>
  <app-modal id="modal-1" [isOpen]="showModal">
    <div class="modal-header">
      <h5 class="modal-title">
        {{ editMode ? 'Edit ' : 'Add New ' }} Password
      </h5>
      <button type="button" class="btn-close"></button>
    </div>
    <div class="modal-body">
      <form [formGroup]="passwordForm">
        <p>
          <label class="form-label">Name*</label>
          <input
            type="text"
            class="form-control"
            placeholder="example@mail.com"
            formControlName="name"
          />
        </p>
        <p>
          <label class="form-label">Username*</label>
          <input
            type="text"
            class="form-control"
            placeholder="example@mail.com"
            formControlName="username"
          />
        </p>
        <p>
          <label class="form-label">URL*</label>
          <input
            type="text"
            class="form-control"
            placeholder="www.example.com"
            formControlName="url"
          />
        </p>
        <p>
          <app-input-password
            label="Password*"
            [control]="getFormControl('password')"
          ></app-input-password>
        </p>
        <p>
          <app-input-password
            label="Confirm password*"
            [control]="getFormControl('confirmPassword')"
          ></app-input-password>
        </p>
        <p>
          <label class="form-label">Image URL (optional)</label>
          <input
            type="text"
            class="form-control"
            placeholder="www.example.com/example.jpg"
            formControlName="imgUrl"
          />
        </p>
      </form>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-success"
        [disabled]="passwordForm.invalid"
        (click)="onSubmit()"
      >
        {{ editMode ? 'Edit' : 'Create' }}
      </button>
      <button type="button" class="btn btn-secondary" (click)="close()">
        Cancel
      </button>
    </div>
  </app-modal>
</button>
